extend layout

block content
  #wrapper
    #channels
      .inner

    #messages
      .inner#messages-inner

    #users
      .inner

block footer
  form(method='POST', id='form')
    textarea(id='input', name='input')
