extend layout

block content
  #wrapper
    #channels
      ul.inner#channel-inner

    #messages
      .inner#messages-inner

    #users
      ul.inner#users-inner

block footer
  form(method='POST', id='form')
    input(type='text', id='input', name='input')
