doctype html
html
  head
    title graft
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    #wrapper
      section
        block content
      #footer
    script(type='text/javascript', src='/js/bundle.js')
