/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background-color: #222;
}

body, textarea {
    font-family: 'Inconsolata';
}

section {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}

#wrapper {
    display: table-row;
    padding: 10px;
}

#channels, #messages, #users {
    display: table-cell;
    padding-bottom: 40px;
    position: relative;
}

.inner {
    padding: 5px;
}

#channels, #users {
    background-color: #f0f;
    width: 15%;
}

#messages {
    background-color: #f00;
}

#footer {
    background-color: #444;
    bottom: 0;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
}

#footer textarea {
    background: transparent;
    border: none;
    color: #eee;
    font-size: 18px;
    height: 20px;
    resize: none;
    width: 100%;
}
